root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace
csharp_prefer_braces = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

[*.{ts,tsx,js,jsx,json,md}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2